---
import { DOMAIN_NAME } from "../config";

const { title } = Astro.props;

const formattedTitle = `${title} | Ru Chern`;
const description =
  "Online resume crafted for a short and brief summary and introduction about myself";
const url = `https://resume.${DOMAIN_NAME}`;
const image = `https://${DOMAIN_NAME}/opengraph-bg.png`;
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />

  <!-- Primary Meta Tags -->
  <title>{formattedTitle}</title>
  <meta name="title" content={formattedTitle} />
  <meta name="description" content={description} />
  <meta name="image" content={image} />
  <link rel="canonical" href={Astro.url.href} />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content={url} />
  <meta property="og:title" content={formattedTitle} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={image} />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={url} />
  <meta property="twitter:title" content={formattedTitle} />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:image" content={image} />
</head>
